<div class="content-form">
	<h3>Bir yorum yapın</h3>
    <form method="post" asp-action="YorumYap" asp-controller="Blog">
        <input type="hidden" name="BlogID" value="@ViewBag.deger" />

        <input type="text" name="KullaniciAdi" placeholder="Kullanıcı Adı" required />
        <input type="text" name="Mail" placeholder="Email" required />
        <textarea name="Yorum" placeholder="Yorum"></textarea>

        <input type="submit" value="Gönder" />
    </form>
</div>